In [1]:
# ************************************Import lib for workflow
import pandas as pd
import numpy as np
import os
#import re
# pyproj and utm for Lat Long conversion
#from pyproj import Proj
import utm

In [2]:


#***********************************************FUNCTIONS:

#******************************************Deviation survey functions
# gets UTM coords from lat long
def getUTMs(row):
    """
    DESCRIPTION
    """
    
    tup = utm.from_latlon(row.iloc[0],row.iloc[1])
    return pd.Series(tup[:4])

#gets lat long from UTM coords
def getLatLon(row):
    """
    DESCRIPTION
    """
    
    tup = utm.to_latlon(row.iloc[0],row.iloc[1],row.iloc[2],row.iloc[3])
    return pd.Series(tup[:2])

def calcXYOffset(dfDirSrvy):
    """
    DESCRIPTION
    """
    
    #X_OFFSET is equal to E/W deviation when E is positive and W is negative
    #Y_OFFSET is equal to N/S deviation when N is positive and S is negative
    
    # create dict to map for offset
    offsetDict = {
        "E" : 1,
        "W" : -1,
        "N" : 1,
        "S" : -1
    }
    # create new columns and map dict * the deviations
    dfDirSrvy['X_Offset']= dfDirSrvy['E/W'].map(offsetDict)*dfDirSrvy['Deviation E/W']
    dfDirSrvy['Y_Offset']= dfDirSrvy['N/S'].map(offsetDict)*dfDirSrvy['Deviation N/S']

    #reset index
    dfDirSrvy = dfDirSrvy.reset_index(drop=True)
    return dfDirSrvy



#***************************************************************************

def createDirSrvy():
    """
    IHS Dev Survey
    Bring in Directional Surveys and preprocessed well header
    create X and Y Offset columns 
    Bring in Surface lat and lon for each well 
    Convert Surface lat and lon to X and Y 
    Add the X and Y Offset to the new Surface X and Y to create adjusted X and Ys 
    Convert the adjusted X and Ys to Lat Lon
    
    May take a while depending on data set size
    """
    
    
    #**************************************
    # PROCESSED WELL HEADER IS REQUIRED
    # find and bring in processed well header
    fileNm = os.path.join(
        DATA_PATH, "Processed", "IHSWellHeader.csv")
    
    datacols = ['UWI','Surface Latitude','Surface Longitude']
    
    # read csv, dropna if present, convert uwi to string
    df = pd.read_csv(fileNm, sep=',',usecols=datacols)
    df = df.dropna()
    df['UWI'] = df['UWI'].apply(str)

    print(f'well header length: {len(df)}.')
    print(f'well header length Drop Duplicates: {len(df.drop_duplicates())}.')
    #**********************************************************
    
    # Grab files and append multiple dev survey files together if available
    dfDirSrvy = appendDfs(DATA_PATH,'xlsx',sheetName='Survey')

    #convert UWI to string
    dfDirSrvy['UWI'] = dfDirSrvy['UWI'].apply(str)

    # calculate the xyOffsets
    dfDirSrvy = calcXYOffset(dfDirSrvy)

    # convert surface x and y to lat and long then add the X and Y offsets from the surveys
    # then convert the adjusted x and y's to lat and long.

    # convert surface x and y to surface lat and long
    df[['Surface_X','Surface_Y','ZoneNumber','ZoneLetter']] = df[['Surface Latitude','Surface Longitude']].apply(getUTMs , axis=1)
    print('converted surface x and y to surface lat and long')

    #merge the new surface x and y and surface lat lon with the deviation dataframe for each uwi
    df = pd.merge(dfDirSrvy, df, on='UWI', how='left')

    # create X and Y columns for each deviation point per uwi
    # add the x and y offset to the surface x and y for each uwi
    df['X_Adjusted'] = df['Surface_X']+(df['X_Offset']*0.3048)
    df['Y_Adjusted'] = df['Surface_Y']+(df['Y_Offset']*0.3048)

    # convert adjusted x and y back to lat long
    df[['Lat_adjusted','Lon_adjusted']] = df[['X_Adjusted','Y_Adjusted','ZoneNumber','ZoneLetter']].apply(getLatLon , axis=1)
    print('converted adjusted x and y back to lat long')

    #drop columns used in lat lon calc
    df.drop(['Y_Adjusted','X_Adjusted','ZoneLetter',
              'ZoneNumber','Surface_Y','Surface_X'], axis=1, inplace=True)


    #export data
    exportPath = DATA_PATH +'Processed/IHSWellDirSrvy.csv'
    df.to_csv(os.path.join(exportPath),index=False)
    print('EXPORTED: IHSWellDirSrvy.csv')
    return df

In [3]:
#define column names:

def minCurveAlgo(df,uwi,wellName,md,inc,azim):
        
        #name cols
        incRad = 'INCLINATION_rad'
        azimRad = 'AZIMUTH_rad'


        #Convert to Radians


        df[incRad] = df[inc]*0.0174533 #converting to radians
        df[azimRad] =df[azim]*0.0174533 #converting to radians

        # ************************************************ BETA CALC 
        df['beta'] = np.arccos(
                     np.cos((df[incRad]) - (df[incRad].shift(1))) - \
                     (np.sin(df[incRad].shift(1)) * np.sin(df[incRad]) * \
                     (1-np.cos(df[azimRad] - df[azimRad].shift(1)))))

        df['beta'] = df['beta'].fillna(0)

        # *************************************************BETA CALC END

        #DogLeg Severity per 100 ft

        df['DLS_Sub'] = (df['beta'] * 57.2958 * 100)/(df[md]-df[md].shift(1))
        df['DLS_Sub'] = df['DLS_Sub'].fillna(0)
        
        # Calc RF
        df['RF'] = np.where(df['beta']==0, 1, 2/df['beta'] * np.tan(df['beta']/2))


        # ************************************************************** TVD CALC

        df['TVD_Sub'] = ((df[md]-df[md].shift(1))/2) * \
                        (np.cos(df[incRad].shift(1)) + np.cos(df[incRad]))*df['RF']

        df['TVD_Sub'] = df['TVD_Sub'].fillna(0)
        df['TVD_SubCUM'] =  df['TVD_Sub'].cumsum()

        ### calculating NS
        df['NS_Sub'] = ((df[md]-df[md].shift(1))/2) * \
                        (
                        np.sin(df[incRad].shift(1)) * np.cos(df[azimRad].shift(1)) +
                        np.sin(df[incRad]) * np.cos(df[azimRad])\
                        ) * df['RF']

        df['NS_Sub'] = df['NS_Sub'].fillna(0)
        df['NS_SubCUM'] =  df['NS_Sub'].cumsum()

        ## calculating EW
        df['EW_Sub'] = ((df[md]-df[md].shift(1))/2) * \
                        (
                        np.sin(df[incRad].shift(1)) * \
                        np.sin(df[azimRad].shift(1)) + \
                        np.sin(df[incRad]) * np.sin(df[azimRad])\
                        ) * df['RF']
        df['EW_Sub'] = df['EW_Sub'].fillna(0)
        df['EW_SubCUM'] =  df['EW_Sub'].cumsum()
        
        return df


def createSurvey(dfWells,uwi,wellName,md,inc,azim):
    
    dfWells.rename(columns={uwi:'UWI',
                            wellName:'WellName',
                                  md:'MD',
                          inc:'INCLINATION',
                          azim:'AZIMUTH'}, inplace=True)

    wellids = dfWells[uwi].unique()
    
    #create empty df for appending
    appended_data = pd.DataFrame()

    #Loop over all wells
    for well in wellids:
        
        #Following are the calculations for Minimum Curvature Method 
        #find df of each uwi
        df = dfWells.loc[dfWells[uwi] == str(well)].reset_index(drop=True)
        
        #run min curve algo
        minCurveAlgo(df,uwi,md,inc,azim)
        
        appended_data = appended_data.append(df)
    
    appended_data.rename(columns={'TVD_SubCUM':'TVD',
                                  'DLS_Sub':'DLS',
                          'NS_SubCUM':'NS_OFFSET',
                          'EW_SubCUM':'EW_OFFSET'}, inplace=True)
    
    appended_data = appended_data[['UWI','WellName','MD','INCLINATION','AZIMUTH','TVD','NS_OFFSET','EW_OFFSET','INCLINATION_rad','AZIMUTH_rad','DLS']]
        
    return appended_data

In [177]:
file = "C:/Users/BpAmos/Documents/repos/directional-survey-converter/data/Well_A_Dir_Survey.csv"

dfwells = pd.read_csv(file, sep=',')
#dfwells = dfwells[['UWI','Measured Depth','Deviation Angle','Deviation Azimuth','Deviation N/S',]]
dfwells.tail()

,UWI,Measured Depth,TV Depth,Deviation Angle,Deviation Azimuth,Deviation N/S,N/S,Deviation E/W,E/W,PRODFit Formation Code,PRODFit Formation Name,Point Type Code,Point Type Name
36,Well_A,9099,8023.49,91.1,226.5,907.19,S,891.66,W,NaN,NaN,NaN,NaN
37,Well_A,9161,8021.59,92.4,226.1,950.00,S,936.47,W,NaN,NaN,NaN,NaN
38,Well_A,9224,8019.34,91.7,226.5,993.50,S,981.98,W,NaN,NaN,NaN,NaN
39,Well_A,9285,8017.05,92.6,226.1,1035.62,S,1026.05,W,NaN,NaN,NaN,NaN
40,Well_A,9328,8015.10,92.6,226.1,1065.40,S,1057.00,W,NaN,NaN,PE,"PROJECTED, END POINT"

In [178]:
file = "C:/Users/BpAmos/Documents/repos/directional-survey-converter/data/well_surface_location.csv"

df_surface = pd.read_csv(file, sep=',')
df_surface.tail()

      UWI  Surface Latitude  Surface Longitude
0  Well_A         33.438389         -97.482414

In [179]:
df = pd.merge(dfwells,df_surface,on="UWI")
df.tail()

,UWI,Measured Depth,TV Depth,Deviation Angle,Deviation Azimuth,Deviation N/S,N/S,Deviation E/W,E/W,PRODFit Formation Code,PRODFit Formation Name,Point Type Code,Point Type Name,Surface Latitude,Surface Longitude
36,Well_A,9099,8023.49,91.1,226.5,907.19,S,891.66,W,NaN,NaN,NaN,NaN,33.438389,-97.482414
37,Well_A,9161,8021.59,92.4,226.1,950.00,S,936.47,W,NaN,NaN,NaN,NaN,33.438389,-97.482414
38,Well_A,9224,8019.34,91.7,226.5,993.50,S,981.98,W,NaN,NaN,NaN,NaN,33.438389,-97.482414
39,Well_A,9285,8017.05,92.6,226.1,1035.62,S,1026.05,W,NaN,NaN,NaN,NaN,33.438389,-97.482414
40,Well_A,9328,8015.10,92.6,226.1,1065.40,S,1057.00,W,NaN,NaN,PE,"PROJECTED, END POINT",33.438389,-97.482414

In [180]:
df = calcXYOffset(df)
df.tail()

,UWI,Measured Depth,TV Depth,Deviation Angle,Deviation Azimuth,Deviation N/S,N/S,Deviation E/W,E/W,PRODFit Formation Code,PRODFit Formation Name,Point Type Code,Point Type Name,Surface Latitude,Surface Longitude,X_Offset,Y_Offset
36,Well_A,9099,8023.49,91.1,226.5,907.19,S,891.66,W,NaN,NaN,NaN,NaN,33.438389,-97.482414,-891.66,-907.19
37,Well_A,9161,8021.59,92.4,226.1,950.00,S,936.47,W,NaN,NaN,NaN,NaN,33.438389,-97.482414,-936.47,-950.00
38,Well_A,9224,8019.34,91.7,226.5,993.50,S,981.98,W,NaN,NaN,NaN,NaN,33.438389,-97.482414,-981.98,-993.50
39,Well_A,9285,8017.05,92.6,226.1,1035.62,S,1026.05,W,NaN,NaN,NaN,NaN,33.438389,-97.482414,-1026.05,-1035.62
40,Well_A,9328,8015.10,92.6,226.1,1065.40,S,1057.00,W,NaN,NaN,PE,"PROJECTED, END POINT",33.438389,-97.482414,-1057.00,-1065.40

In [181]:
SurfaceLatitude = 'Surface Latitude'
SurfaceLongitude ='Surface Longitude'
X_offset = 'X_Offset'
Y_offset = 'Y_Offset'

# drop rows that dont have surface locs
df = df.dropna(subset=[SurfaceLatitude])
df = df.dropna(subset=[X_offset])
# calculate the xyOffsets (if offsets are all postive values, this will make them neg and pos in the correct place)
#dfDirSrvy = calcXYOffset(dfDirSrvy)

# convert surface x and y to lat and long then add the X and Y offsets from the surveys
# then convert the adjusted x and y's to lat and long.

# convert surface x and y to surface lat and long
df[['Surface_X','Surface_Y','ZoneNumber','ZoneLetter']] = df[[SurfaceLatitude,SurfaceLongitude]].apply(getUTMs , axis=1)
print('converted surface x and y to surface lat and long')


# create X and Y columns for each deviation point per uwi
# add the x and y offset to the surface x and y for each uwi
df['X_Adjusted'] = df['Surface_X']+(df[X_offset]*0.3048)
df['Y_Adjusted'] = df['Surface_Y']+(df[Y_offset]*0.3048)

# convert adjusted x and y back to lat long
df[['Lat_adjusted','Lon_adjusted']] = df[['X_Adjusted','Y_Adjusted','ZoneNumber','ZoneLetter']].apply(getLatLon , axis=1)
print('converted adjusted x and y back to lat long')

#drop columns used in lat lon calc
#df.drop(['ZoneLetter',
#          'ZoneNumber','Surface_Y','Surface_X'], axis=1, inplace=True)


#export data
#exportPath = DATA_PATH +'Processed/IHSWellDirSrvy.csv'
#df.to_csv(os.path.join(exportPath),index=False)
#print('EXPORTED: IHSWellDirSrvy.csv')

converted surface x and y to surface lat and long
converted adjusted x and y back to lat long

In [182]:
df.tail(10)

,UWI,Measured Depth,TV Depth,Deviation Angle,Deviation Azimuth,Deviation N/S,N/S,Deviation E/W,E/W,PRODFit Formation Code,...,X_Offset,Y_Offset,Surface_X,Surface_Y,ZoneNumber,ZoneLetter,X_Adjusted,Y_Adjusted,Lat_adjusted,Lon_adjusted
31,Well_A,8783,8031.00,92.7,228.3,693.71,S,658.84,W,NaN,...,-658.84,-693.71,641067.861785,3.700918e+06,14,S,640867.047353,3.700707e+06,33.436509,-97.484606
32,Well_A,8847,8028.49,91.8,228.3,736.26,S,706.58,W,NaN,...,-706.58,-736.26,641067.861785,3.700918e+06,14,S,640852.496201,3.700694e+06,33.436394,-97.484765
33,Well_A,8910,8026.90,91.1,226.9,778.72,S,753.09,W,NaN,...,-753.09,-778.72,641067.861785,3.700918e+06,14,S,640838.319953,3.700681e+06,33.436279,-97.484919
34,Well_A,8973,8026.13,90.3,227.6,821.48,S,799.35,W,NaN,...,-799.35,-821.48,641067.861785,3.700918e+06,14,S,640824.219905,3.700668e+06,33.436163,-97.485073
35,Well_A,9036,8025.03,91.7,227.2,864.12,S,845.72,W,NaN,...,-845.72,-864.12,641067.861785,3.700918e+06,14,S,640810.086329,3.700655e+06,33.436048,-97.485227
36,Well_A,9099,8023.49,91.1,226.5,907.19,S,891.66,W,NaN,...,-891.66,-907.19,641067.861785,3.700918e+06,14,S,640796.083817,3.700642e+06,33.435931,-97.485380
37,Well_A,9161,8021.59,92.4,226.1,950.00,S,936.47,W,NaN,...,-936.47,-950.00,641067.861785,3.700918e+06,14,S,640782.425729,3.700629e+06,33.435816,-97.485529
38,Well_A,9224,8019.34,91.7,226.5,993.50,S,981.98,W,NaN,...,-981.98,-993.50,641067.861785,3.700918e+06,14,S,640768.554281,3.700615e+06,33.435698,-97.485680
39,Well_A,9285,8017.05,92.6,226.1,1035.62,S,1026.05,W,NaN,...,-1026.05,-1035.62,641067.861785,3.700918e+06,14,S,640755.121745,3.700602e+06,33.435584,-97.485826
40,Well_A,9328,8015.10,92.6,226.1,1065.40,S,1057.00,W,NaN,...,-1057.00,-1065.40,641067.861785,3.700918e+06,14,S,640745.688185,3.700593e+06,33.435503,-97.485929

In [183]:
df['color'] = 'red'

In [201]:
from bokeh.plotting import figure, gmap
from bokeh.models import (ColumnDataSource, RangeTool, LinearAxis, Range1d,
                          NumeralTickFormatter, DatetimeTickFormatter, Column, Panel, GMapOptions,
                          HoverTool, TapTool, BoxSelectTool, LassoSelectTool, CustomJS,
                          DateFormatter, NumberFormatter)
from bokeh.models.widgets import (CheckboxGroup, Slider, RangeSlider, Tabs, TableColumn,
                                  DataTable, RadioGroup, Button, MultiSelect, Select, Div,
                                  CheckboxButtonGroup, DateRangeSlider)
from bokeh.layouts import column, row, layout


# EXTERNAL BOKEH FUNCTIONS

# Make Data Set Functions
# TODO: add comments to doc strings

def make_data_set_well_info(well_obj):
    """
    make the dataset for the well info, this is your well info data table, one line data
    put all relevant data into this data set

    if there is only one value, check if it is array or not, if not, put in np.array([dataSourceDict['key']])
    then create column data source
    """

#     well_info_dict = dict(wellId='wellId',
#                           md='md',
#                           inc='inc',
#                           azim='azim',
#                           tvd='tvd',
#                           lat='Lat_adjusted',
#                           lon='Lon_adjusted')

    src = ColumnDataSource(data=well_obj)

    return src

def make_plot_map(src):
    """
    make the plot for the map chart
    """
    # mapTypeList = ['roadmap', 'satellite', 'hybrid', 'terrain']
    map_options = GMapOptions(lat=src.data['lat'].mean(), lng=src.data['lon'].mean(), map_type='roadmap', zoom=15)

    # Replace the value below with your personal API key:
    p = gmap("AIzaSyCCVq-FB6HYmHibGSaso6zIokUKGDVZ0us", map_options, title="Map", height=500, width=600)

    tooltips = [
        ("Well Name", "@wellId")]

    p.circle(x="lon", y="lat", size=10, fill_color='color', fill_alpha=0.7, source=src)
    p.add_tools(HoverTool(tooltips=tooltips), TapTool(), BoxSelectTool(), LassoSelectTool())

    return p


# make tabs

def make_tab_map_viz(p_map_viz):
    """
    plot and show a tab for the map_viz
    """
    vis_layout = layout([column(p_map_viz)], sizing_mode="scale_both")
    tab = Panel(child=vis_layout, title='Map')
    tabs = Tabs(tabs=[tab])

    return tabs

In [185]:
df.rename(columns={'UWI':'wellId','Measured Depth':'md','Deviation Angle':'inc','Deviation Azimuth':'azim','Lat_adjusted':'lat','Lon_adjusted':'lon'},inplace=True)

In [186]:
df = df[['wellId','md','inc','azim','lat','lon','color']]
df.head()

   wellId    md   inc   azim        lat        lon color
0  Well_A  7654   2.0  256.3  33.438135 -97.482419   red
1  Well_A  7700   1.9  253.3  33.438134 -97.482424   red
2  Well_A  7743   6.5  227.9  33.438129 -97.482433   red
3  Well_A  7774  12.1  238.8  33.438121 -97.482446   red
4  Well_A  7806  17.8  234.9  33.438109 -97.482469   red

In [187]:
df_Orig = df

In [188]:
from bokeh.io import push_notebook, show, output_notebook
from bokeh.io import output_notebook, show
from bokeh.io import curdoc
from bokeh.models.widgets import Tabs
output_notebook()

In [193]:
src = make_data_set_well_info(df)

In [202]:
plot = make_plot_map(src)
pMap = make_tab_map_viz(plot)
show(pMap)

# Convert MD, INCL, AZIM to TVD, X and Y offset

In [203]:
df.columns

Index(['wellId', 'md', 'inc', 'azim', 'lat', 'lon', 'color'], dtype='object')

In [204]:
df_sub = df[['wellId', 'md', 'inc', 'azim']]

In [205]:
#define column names:
uwi = 'wellId'
md = 'md'
inc = 'inc'
azim = 'azim'
incRad = 'INCLINATION_rad'
azimRad = 'AZIMUTH_rad'



wellids = df_sub[uwi].unique()
appended_data = pd.DataFrame()

#Loop over all wells
for well in wellids:
    #Following are the calculations for Minimum Curvature Method 
    #find df of each uwi
    
    df = df_sub.loc[df_sub[uwi] == str(well)].reset_index()


    #Convert to Radians
    
    
    df[incRad] = df[inc]*0.0174533 #converting to radians
    df[azimRad] =df[azim]*0.0174533 #converting to radians
    
    # ************************************************ BETA CALC 
    df['beta'] = np.arccos(
                 np.cos((df[incRad]) - (df[incRad].shift(1))) - \
                 (np.sin(df[incRad].shift(1)) * np.sin(df[incRad]) * \
                 (1-np.cos(df[azimRad] - df[azimRad].shift(1)))))

    df['beta'] = df['beta'].fillna(0)

    # *************************************************BETA CALC END
    
    #DogLeg Severity per 100 ft
    
    df['DLS_Sub'] = (df['beta'] * 57.2958 * 100)/(df[md]-df[md].shift(1))
    
    # Calc RF
    df['RF'] = np.where(df['beta']==0, 1, 2/df['beta'] * np.tan(df['beta']/2))
    
    
    # ************************************************************** TVD CALC

    df['TVD_Sub'] = ((df[md]-df[md].shift(1))/2) * \
                    (np.cos(df[incRad].shift(1)) + np.cos(df[incRad]))*df['RF']
    
    df['TVD_Sub'] = df['TVD_Sub'].fillna(0)
    df['TVD_SubCUM'] =  df['TVD_Sub'].cumsum()
    
    ### calculating NS
    df['NS_Sub'] = ((df[md]-df[md].shift(1))/2) * \
                    (
                    np.sin(df[incRad].shift(1)) * np.cos(df[azimRad].shift(1)) +
                    np.sin(df[incRad]) * np.cos(df[azimRad])\
                    ) * df['RF']
    
    df['NS_Sub'] = df['NS_Sub'].fillna(0)
    df['NS_SubCUM'] =  df['NS_Sub'].cumsum()
    
    ## calculating EW
    df['EW_Sub'] = ((df[md]-df[md].shift(1))/2) * \
                    (
                    np.sin(df[incRad].shift(1)) * \
                    np.sin(df[azimRad].shift(1)) + \
                    np.sin(df[incRad]) * np.sin(df[azimRad])\
                    ) * df['RF']
    df['EW_Sub'] = df['EW_Sub'].fillna(0)
    df['EW_SubCUM'] =  df['EW_Sub'].cumsum()
    
    
    appended_data = appended_data.append(df)

In [206]:
appended_data.tail()

,index,wellId,md,inc,azim,INCLINATION_rad,AZIMUTH_rad,beta,DLS_Sub,RF,TVD_Sub,TVD_SubCUM,NS_Sub,NS_SubCUM,EW_Sub,EW_SubCUM
36,36,Well_A,9099,91.1,226.5,1.589996,3.953172,0.016088,1.463165,1.000022,-1.539282,372.077441,-43.073005,-814.705290,-45.948463,-891.224679
37,37,Well_A,9161,92.4,226.1,1.612685,3.946191,0.023738,2.193695,1.000047,-1.893397,370.184044,-42.813595,-857.518884,-44.802128,-936.026807
38,38,Well_A,9224,91.7,226.5,1.600468,3.953172,0.014069,1.279521,1.000016,-2.253650,367.930394,-43.497263,-901.016147,-45.517510,-981.544316
39,39,Well_A,9285,92.6,226.1,1.616176,3.946191,0.017187,1.614378,1.000025,-2.288490,365.641904,-42.113520,-943.129667,-44.069521,-1025.613837
40,40,Well_A,9328,92.6,226.1,1.616176,3.946191,0.000000,0.000000,1.000000,-1.950638,363.691265,-29.785532,-972.915199,-30.951852,-1056.565689

In [207]:
df = pd.merge(appended_data,df_surface,left_on="wellId",right_on='UWI')
df.tail()

,index,wellId,md,inc,azim,INCLINATION_rad,AZIMUTH_rad,beta,DLS_Sub,RF,TVD_Sub,TVD_SubCUM,NS_Sub,NS_SubCUM,EW_Sub,EW_SubCUM,UWI,Surface Latitude,Surface Longitude
36,36,Well_A,9099,91.1,226.5,1.589996,3.953172,0.016088,1.463165,1.000022,-1.539282,372.077441,-43.073005,-814.705290,-45.948463,-891.224679,Well_A,33.438389,-97.482414
37,37,Well_A,9161,92.4,226.1,1.612685,3.946191,0.023738,2.193695,1.000047,-1.893397,370.184044,-42.813595,-857.518884,-44.802128,-936.026807,Well_A,33.438389,-97.482414
38,38,Well_A,9224,91.7,226.5,1.600468,3.953172,0.014069,1.279521,1.000016,-2.253650,367.930394,-43.497263,-901.016147,-45.517510,-981.544316,Well_A,33.438389,-97.482414
39,39,Well_A,9285,92.6,226.1,1.616176,3.946191,0.017187,1.614378,1.000025,-2.288490,365.641904,-42.113520,-943.129667,-44.069521,-1025.613837,Well_A,33.438389,-97.482414
40,40,Well_A,9328,92.6,226.1,1.616176,3.946191,0.000000,0.000000,1.000000,-1.950638,363.691265,-29.785532,-972.915199,-30.951852,-1056.565689,Well_A,33.438389,-97.482414

In [208]:
df.tail().T

                          36         37         38         39       40
index                     36         37         38         39       40
wellId                Well_A     Well_A     Well_A     Well_A   Well_A
md                      9099       9161       9224       9285     9328
inc                     91.1       92.4       91.7       92.6     92.6
azim                   226.5      226.1      226.5      226.1    226.1
INCLINATION_rad         1.59    1.61268    1.60047    1.61618  1.61618
AZIMUTH_rad          3.95317    3.94619    3.95317    3.94619  3.94619
beta               0.0160883  0.0237381  0.0140691  0.0171875        0
DLS_Sub              1.46317    2.19369    1.27952    1.61438        0
RF                   1.00002    1.00005    1.00002    1.00002        1
TVD_Sub             -1.53928    -1.8934   -2.25365   -2.28849 -1.95064
TVD_SubCUM           372.077    370.184     367.93    365.642  363.691
NS_Sub               -43.073   -42.8136   -43.4973   -42.1135 -29.7855
NS_SubCUM           -814.705   -857.519   -901.016    -943.13 -972.915
EW_Sub              -45.9485   -44.8021   -45.5175   -44.0695 -30.9519
EW_SubCUM           -891.225   -936.027   -981.544   -1025.61 -1056.57
UWI                   Well_A     Well_A     Well_A     Well_A   Well_A
Surface Latitude     33.4384    33.4384    33.4384    33.4384  33.4384
Surface Longitude   -97.4824   -97.4824   -97.4824   -97.4824 -97.4824

In [209]:
SurfaceLatitude = 'Surface Latitude'
SurfaceLongitude ='Surface Longitude'
X_offset = 'NS_SubCUM'
Y_offset = 'EW_SubCUM'

# drop rows that dont have surface locs
df = df.dropna(subset=[SurfaceLatitude])
df = df.dropna(subset=[X_offset])
# calculate the xyOffsets (if offsets are all postive values, this will make them neg and pos in the correct place)
#dfDirSrvy = calcXYOffset(dfDirSrvy)

# convert surface x and y to lat and long then add the X and Y offsets from the surveys
# then convert the adjusted x and y's to lat and long.

# convert surface x and y to surface lat and long
df[['Surface_X','Surface_Y','ZoneNumber','ZoneLetter']] = df[[SurfaceLatitude,SurfaceLongitude]].apply(getUTMs , axis=1)
print('converted surface x and y to surface lat and long')


# create X and Y columns for each deviation point per uwi
# add the x and y offset to the surface x and y for each uwi
df['X_Adjusted'] = df['Surface_X']+(df[X_offset]*0.3048)
df['Y_Adjusted'] = df['Surface_Y']+(df[Y_offset]*0.3048)

# convert adjusted x and y back to lat long
df[['Lat_adjusted','Lon_adjusted']] = df[['X_Adjusted','Y_Adjusted','ZoneNumber','ZoneLetter']].apply(getLatLon , axis=1)
print('converted adjusted x and y back to lat long')

#drop columns used in lat lon calc
#df.drop(['ZoneLetter',
#          'ZoneNumber','Surface_Y','Surface_X'], axis=1, inplace=True)


#export data
#exportPath = DATA_PATH +'Processed/IHSWellDirSrvy.csv'
#df.to_csv(os.path.join(exportPath),index=False)
#print('EXPORTED: IHSWellDirSrvy.csv')

converted surface x and y to surface lat and long
converted adjusted x and y back to lat long

In [210]:
df.tail()

,index,wellId,md,inc,azim,INCLINATION_rad,AZIMUTH_rad,beta,DLS_Sub,RF,...,Surface Latitude,Surface Longitude,Surface_X,Surface_Y,ZoneNumber,ZoneLetter,X_Adjusted,Y_Adjusted,Lat_adjusted,Lon_adjusted
36,36,Well_A,9099,91.1,226.5,1.589996,3.953172,0.016088,1.463165,1.000022,...,33.438389,-97.482414,641067.861785,3.700918e+06,14,S,640819.539613,3.700646e+06,33.435972,-97.485127
37,37,Well_A,9161,92.4,226.1,1.612685,3.946191,0.023738,2.193695,1.000047,...,33.438389,-97.482414,641067.861785,3.700918e+06,14,S,640806.490029,3.700633e+06,33.435851,-97.485269
38,38,Well_A,9224,91.7,226.5,1.600468,3.953172,0.014069,1.279521,1.000016,...,33.438389,-97.482414,641067.861785,3.700918e+06,14,S,640793.232064,3.700619e+06,33.435727,-97.485414
39,39,Well_A,9285,92.6,226.1,1.616176,3.946191,0.017187,1.614378,1.000025,...,33.438389,-97.482414,641067.861785,3.700918e+06,14,S,640780.395863,3.700605e+06,33.435608,-97.485554
40,40,Well_A,9328,92.6,226.1,1.616176,3.946191,0.000000,0.000000,1.000000,...,33.438389,-97.482414,641067.861785,3.700918e+06,14,S,640771.317233,3.700596e+06,33.435524,-97.485653

In [211]:
df.rename(columns={'Lat_adjusted':'lat','Lon_adjusted':'lon'},inplace=True)
df = df[['wellId','md','inc','azim','lat','lon']]
df.head()

   wellId    md   inc   azim        lat        lon
0  Well_A  7654   2.0  256.3  33.438389 -97.482413
1  Well_A  7700   1.9  253.3  33.438385 -97.482415
2  Well_A  7743   6.5  227.9  33.438378 -97.482421
3  Well_A  7774  12.1  238.8  33.438367 -97.482431
4  Well_A  7806  17.8  234.9  33.438348 -97.482446

In [212]:
df['color'] = 'blue'
df['wellId'] = 'Well_B'

In [213]:
df_ALL = df.append(df_Orig)

In [214]:
df_ALL

    wellId    md   inc   azim        lat        lon color
0   Well_B  7654   2.0  256.3  33.438389 -97.482413  blue
1   Well_B  7700   1.9  253.3  33.438385 -97.482415  blue
2   Well_B  7743   6.5  227.9  33.438378 -97.482421  blue
3   Well_B  7774  12.1  238.8  33.438367 -97.482431  blue
4   Well_B  7806  17.8  234.9  33.438348 -97.482446  blue
..     ...   ...   ...    ...        ...        ...   ...
36  Well_A  9099  91.1  226.5  33.435931 -97.485380   red
37  Well_A  9161  92.4  226.1  33.435816 -97.485529   red
38  Well_A  9224  91.7  226.5  33.435698 -97.485680   red
39  Well_A  9285  92.6  226.1  33.435584 -97.485826   red
40  Well_A  9328  92.6  226.1  33.435503 -97.485929   red

[82 rows x 7 columns]

In [215]:
src = make_data_set_well_info(df_ALL)
plot = make_plot_map(src)
pMap = make_tab_map_viz(plot)
show(pMap)